.idea
.gradle
app/build
build
local.properties

# project management
ToDos.txt
misc
/app/app.iml
/app/CharacterSheetAndroidClient-app.iml
CharacterSheetAndroidClient.iml
/app/src/test/cmd/local.settings
/app/src/test/cmd/*.pwd
